@font-face {
	font-family: HCR Batang LVT;
	font-weight: normal;
	src: local('HCR Batang LVT'),
	     url('blob/HANBatang-LVT.ttf'),
	     local('HCR Batang');
}

@font-face {
	font-family: HCR Batang LVT;
	font-weight: bold;
	src: local('HCR Batang LVT Bold'),
	     url('blob/HANBatangB-LVT.ttf'),
	     local('HCR Batang Bold');
}
