@font-face {
	font-family: HCR Dotum;
	font-weight: normal;
	src: local('HCR Dotum'),
	     url('blob/HANDotum.ttf');
}

@font-face {
	font-family: HCR Dotum;
	font-weight: bold;
	src: local('HCR Dotum'),
	     url('blob/HANDotumB.ttf');
}
