@font-face {
	font-family: HCR Dotum LVT;
	font-weight: normal;
	src: local('HCR Dotum LVT'),
	     url('blob/HANDotum-LVT.ttf'),
	     local('HCR Dotum');
}

@font-face {
	font-family: HCR Dotum LVT;
	font-weight: bold;
	src: local('HCR Dotum LVT Bold'),
	     url('blob/HANDotumB-LVT.ttf'),
	     local('HCR Dotum');
}
